#nav-bar{
    opacity: 0.3;
}
#red-bg{
    opacity: 0.2;
}
.digi{
    color: gold;
    position: absolute;
    top: 2px;
    left: 16px;
}
.talz{
    color: azure;
    position: absolute;
    top: 2px;
    left: 72px;
}
.t1{
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top: 22px;
    right: 380px;
}
.t2{
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top: 22px;
    right: 250px;
}
.t3{
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top: 22px;
    right: 150px;
}
.t4{
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top: 22px;
    right: 30px;
}
