#nav-bar{
    opacity: 0.3;
}
#red-bg{
    opacity: 0.2;
}
.digi{
    color: gold;
    position: absolute;
    top: 2px;
    left: 16px;
}
.talz{
    color: azure;
    position: absolute;
    top: 2px;
    left: 72px;
}
.t1{
    color: aliceblue;
    position: absolute;
    top: 22px;
    right: 572px;
}
