
#head{
    background-color: #000000;
    height: 500px;
}



.nav-image{
    width: 100%;
    height: 50px;
    opacity: 40%;
}
.n-list{
    list-style-type: none;
    overflow: hidden;
}

.li {
    float: left;
    color: #eeeeee;
}
.nav-list{
    position: absolute;
    top: -12px;
    left: 60%;
}

.nav-hOne{
    color: #eeeeee;
    position: absolute;
    top: -3px;
    padding-left: 10px;
}
.nav-hTwo{
    color: gold;
    position: absolute;
    top: -3px;
    padding-left: 66px;
}
