
#head{
    background-color: #400303;
    height: 500px;
}



.nav-image{
    width: 100%;
    height: 50px;
    opacity: 60%;
}
.n-list{
    list-style-type: none;
    overflow: hidden;
}

.li {
    float: left;
}
.nav-list{
    position: absolute;
    top: -12px;
    left: 60%;
}